* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #d9dcd6;
}

html {
    scroll-behavior: smooth;
}

/* This section contains all CSS information for the header and navigation bar. */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;

}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

nav {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

/* Below is the CSS for the Hero image. Note to TA: I was unsure what HTML tag to wrap it in and couldn't find a ready answer, so left it as div and hope to be corrected on it. */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The following section is all CSS for the Content. */

.float-left {
    float: left;
    margin-right: 60px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.content-text {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.content-img {
    max-height: 200px;
}

.content-h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Below is the CSS and Class Selectors for the sidebar. */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}